@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

a.active {
  background-color: #CAEB66;
  border-radius: 100px;
}

.urbanist {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .merchant-bg {
  background-image: url('../public/be-a-merchant-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
} */


/* You can put this in your global CSS file or Tailwind config as a plugin */
.input {
  @apply w-full px-4 py-2 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-400;
}